<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ywd.blog.dao.ScollDao">

	<resultMap type="Scoll" id="ScollResult">
		<result property="id" column="id"/>
		<result property="titleId" column="titleId"/>
		<result property="client" column="client"/>
		<result property="desc" column="desc"/>
		<result property="releaseDate" column="releaseDate"/>
		<result property="content" column="content"/>
		<result property="picture" column="picture"/>
	</resultMap>
	
	<select id="list" parameterType="Map" resultMap="ScollResult">
		select * from t_scoll 
		<if test="count!=null">
			where titleId &lt;=#{count}
		</if>
		order by titleId
		<if test="start!=null and size!=null">
			limit #{start},#{size}
		</if>
	</select>
	
	<select id="getTotal" parameterType="Map" resultType="Long">
		select count(*) from t_scoll
	</select>
	
	<select id="findById" parameterType="Integer" resultMap="ScollResult">
		select * from t_scoll where titleId=#{id}
	</select>
	
	<insert id="add" parameterType="Scoll">
		insert into t_scoll values(null,#{titleId},#{client},#{desc},now() ,#{content},#{picture})
	</insert>
	
	<update id="update" parameterType="Scoll">
		update t_scoll
		<set>
			<if test="titleId!=null">
				titleId=#{titleId},
			</if>
			<if test="client!=null and client!=''">
				`client`=#{client},
			</if>
			<if test="desc!=null and desc!=''">
				`desc`=#{desc},
			</if>
			<if test="content!=null and content!=''">
				content=#{content},
			</if>
			<if test="picture!=null and picture!=''">
				picture=#{picture},
			</if>
		</set>
		where id=#{id}
	</update>
	
	<delete id="delete" parameterType="Integer">
		delete from t_scoll where id=#{id}
	</delete>
</mapper> 