@charset "utf-8";
/* 共用css */
* { margin: 0; padding: 0; }
body { font: 12px/1.5 'Microsoft Yahei', 'Simsun'; color: #666666; background: #fff }
img { border: 0; display: block }
ul { list-style: none; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
a { outline: none; }
a:link, a:visited { text-decoration: none; color: #666 }
a:hover { text-decoration: none; }
.clear { clear: both; }
.blank { height: 5px; overflow: hidden; width: 100%; margin: auto; clear: both }
.f_l { float: left }
.f_r { float: right }
.l_box { width: 670px; }
.r_box { width: 300px; }
/* 头部信息 */
header { width: 1000px; margin: 20px auto; overflow: hidden; clear: both; }
#topnav { width: 60%; background: #48AE15; height: 46px; line-height: 46px; text-align: center; border-radius: 46px; }
#topnav a { display: inline-block; font-size: 18px; font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif; padding: 0 20px; }
#topnav a:hover { background: #E6E8EB; color: #000; }
#topnav a { color: #FFF }
#topnav_current { background: #F3FF41; }/* 高亮选中颜色 */
a#topnav_current { color: #000 }
article { width: 1000px; margin: 20px auto; }
/*footer*/
footer { background: #333; width: 100%; clear: both; text-align: center; }
.ft-copyright { color: #fff; line-height: 24px; }
.ft-list { background: url(../images/ft-wx-s.png) no-repeat right; height: 100px }
/*返回顶部*/
*html { background-image: url(about:blank); background-attachment: fixed; }/*解决IE6下滚动抖动的问题*/
#tbox { width: 54px; float: right; position: fixed; right: 50px; bottom: 15px; _position: absolute; _bottom: auto; _top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop, 10)||0)-(parseInt(this.currentStyle.marginBottom, 10)||0)));
_margin-bottom: 15px; }/*解决IE6下不兼容 position:fixed 的问题*/
#togbook, #gotop { width: 54px; height: 56px; display: block; background: url(../images/icons.png) no-repeat #38485A; box-shadow: 0px 1px 0px rgba(255,255,255,.1), inset 0px 1px 1px rgba(0,0,0,.7); border-radius: 6px; }
#togbook { margin: 5px 0; background-position: 10px -36px; }
#gotop { background-position: 12px 10px; }
#togbook:hover, #gotop:hover { opacity: 0.5 }
/*标签云*/
.cloud { width: 100%; clear: both; overflow: hidden }
.cloud h3 { line-height: 40px; color: #38485A; font-size: 18px; border-bottom: 1px solid #E6E6E6; height: 40px; }
.cloud ul { margin: 20px 0 }
.cloud ul li { line-height: 24px; height: 30px; display: block; background: #999; float: left; padding: 3px 11px; margin: 10px 10px 0 0; border-radius: 8px; -moz-transition: all 0.5s; -webkit-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s; }
.cloud ul li a { color: #FFF }
.cloud ul li:nth-child(8n-7) { background: #8A9B0F }
.cloud ul li:nth-child(8n-6) { background: #EB6841 }
.cloud ul li:nth-child(8n-5) { background: #3FB8AF }
.cloud ul li:nth-child(8n-4) { background: #FE4365 }
.cloud ul li:nth-child(8n-3) { background: #FC9D9A }
.cloud ul li:nth-child(8n-2) { background: #EDC951 }
.cloud ul li:nth-child(8n-1) { background: #C8C8A9 }
.cloud ul li:nth-child(8n) { background: #83AF9B }
.cloud ul li:first-child { background: #036564 }
.cloud ul li:last-child { background: #3299BB }
.cloud ul li:hover { border-radius: 0; text-shadow: #000 1px 1px 1px }
/* 切换卡 */
.moreSelect { width: 100%; margin: 30px 0 20px 0; overflow: hidden }
.ms-top { height: 32px; border-bottom: solid 1px #EAEAEA; font-size: 14px }
#tab li a { float: left; height: 32px; cursor: pointer; line-height: 32px; list-style-type: none; padding: 0 15px; }
#tab li.cur a { color: #fff; background: #f77825; }
.bd { display: none }
.bd-news ul { padding: 10px 0 0 10px; background: url(../images/ph2.png) no-repeat 10px 29px; }
.bd-news ul li { border-bottom: solid 1px #EAEAEA; line-height: 30px; height: 41px; overflow: hidden; font-size: 14px; padding: 10px 0 0 30px; }
.bd-news ul li a { display: block; height: 30px;}
.bd-news ul li a:hover { color: #000; }
.bd-news ul li:hover { border-bottom: #000 1px solid; }/* 鼠标放上去的效果 */
/*博客内容显示*/
.data_list {
	border: 1px solid #E5E5E5;
	padding: 10px;
	background-color: #FFF;
	margin-top: 20px;
	margin-bottom: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 15px;
	border-radius: 5px;
}
.data_list .data_list_title {
	font-size: 15px;
	font-weight: bold;
	border-bottom: 1px solid #E5E5E5;
	padding-bottom: 10px;
	padding-top: 5px;
}
.data_list .data_list_title img {
	display: inline-block;
	margin-top: 4px;
	vertical-align: top;
}
.data_list .data_list_title a {
	height: 16px;
	font-weight: 16px;
	cursor: pointer;
}
.data_list .data_list_title a {
	display: inline-block;
	margin-top: 1px;
	vertical-align: top;
}
.data_list .blog_title{
	font-size: 16px;
	margin-top: 20px;
	text-align: center;
}
.data_list .blog_info{
	font-weight: bold;
	text-align: center;
}
.data_list .blog_content{
	margin-top:20px;
	padding: 10px 10px;
}
.data_list .blog_share{
	padding-left: 200px;
	padding-bottom: 20px;
	padding-top: 10px
}
.data_list .blog_keyWord{
	padding-bottom: 30px;
	padding-left: 10px;
	font-weight: bold;
}
.data_list .blog_keyWord a{
	color: black;
	font-style: italic;
}
.data_list .blog_lastAndNextPage{
	border-top:1px dotted black;
	padding: 10px;
	font-weight: bold;
}
/*时间轮*/
.arrow_box { background: #f8f8f8; box-shadow: 0px 1px 0px rgba(255,255,255,.1), inset 0px 1px 1px rgba(214, 214, 214, 0.7); width: 450px; border-radius: 6px; position: relative; padding: 20px 0; margin: 20px 0; }
.arrow_box img { width: 150px; float: left; margin: 0 20px 0 20px; }
.arrow_box p { line-height: 24px; padding: 0 20px 20px }
.arrow_box::before { content: ""; width: 0px; height: 0px; border-style: solid; border-width: 0px 0 20px 22px; border-color: transparent transparent transparent #fff; position: absolute; left: 450px; top: 23px; }/* 三角形 */
.arrow_box::after { content: ""; width: 10px; height: 10px; border-radius: 50%; position: absolute; left: 475px; top: 16px; background: #CCCCCE; border: 2px solid #fff; transition: all 0.5s; }/* 圆形 */
.arrow_box:hover::before { border-color: transparent transparent transparent #CECCCD }/* 三角形 */
.arrow_box:hover::after { border: #fff 2px solid; background: #5EA51B }/* 圆形 */
.arrow_box:hover { background: #f4f2f2; color: #333; text-shadow: #f7f7f7 1px 1px 1px }
.dateview { position: absolute; left: 500px; top: 20px; width: 125px; line-height: 30px; background: #5EA51B; border-radius: 0px 40px; text-align: center; color: #fff }
.sy{ overflow:hidden}
.drawline {position: absolute;left: 478px;height: 100%;border: #CCCCCC 2px solid;top: 0px;}
.page {text-align: center;}
.page a { margin: 0 2px; height: 35px; line-height: 35px; border-radius: 50%; width: 35px; text-align: center; display: inline-block }/* 针对IE6 */
.page a:hover { background: #5599FF; color: #FFF; }
.page a { border: #999 1px solid; }
.page .active{background: #5599FF; color: #FFF;}
/*反馈*/
.modal-body-p {margin: 0px 10px;}
.modal-body-p textarea {
	resize: none;
    height: 106px;
    width: 100%;
    padding: 9px 10px;
    margin: 6px 1px 1px 0;
    border: solid 1px #e8e8e8;
    border-radius: 4px;
    line-height: 16px;
    color: #333;
    font-size: 12px;
    outline: 0;
}
.modal-body-p input {
	height: 36px;
    margin-bottom: 20px;
    resize: none;
    width: 100%;
    padding: 9px 10px;
    margin: 6px 1px 1px 0;
    border: solid 1px #e8e8e8;
    line-height: 16px;
    color: #333;
    font-size: 12px;
    outline: 0;
    background: #fff;
    border-radius: 4px;
    text-decoration: none;
    vertical-align: middle;
    }
 /*留言模块*/
.lem {position: relative; border-bottom: #CCC 1px solid; overflow: hidden;margin-top: 10px;}
.leave-message figure { float: left; width: 20%; overflow: hidden;  }
.leave-message figure img { width: 45px; height:45px; margin: auto; -moz-transition: all 0.5s; -webkit-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s; }
.leave-message figure:hover img { -moz-transform: scale(1.1); -webkit-transform: scale(1.1); -o-transform: scale(1.1); -ms-transform: scale(1.1); }
.leave-message ul { float: right; line-height: 22px; width: 80%; color: #756F71;}
.autor1 { overflow: hidden; clear: both; margin: 0 0; display: inline-block; color: #838383; width: 100%;  }
.autor1 span { margin: 0 10px 0 0; padding-left: 20px }
.autor1 span a { color: #759b08; }
.autor1 span a:hover { text-decoration: underline }
.mg {margin-left: 40px;}

/*检索*/
.results{
	margin: 0 10px;
	border-bottom: #CCC 1px solid;
}
.results h3{
	font-size: 16px;
}
.results p {font-size: 14px;}
.results .time { display: inline-block;}
.results h3 { display: inline-block;}
.results .ml {margin-left: 10px; padding-left: 18px;}
.no-results { margin-top: 15px; font-size: 16px;text-align: center;}